.display-3{
  font-family: 'Libre Baskerville', serif;
  font-weight: 600;
  font-style: italic;
}


.lead{
  font-style:italic;
  font-weight: 500;
  font-family: 'Libre Baskerville', serif;
}


.nav-link{
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
}

body{
  background-color:white;
  background-image: url('flower.jpg');
  background-repeat: no-repeat;
}

h4{
  font-style:italic;
  font-weight: 700;
  font-family: 'Libre Baskerville', serif;
}

.card-img-top{
  width:100%;
  height:15vw;
  object-fit: cover;
}

h5{
  font-style:italic;
  font-weight: 700;
  font-family: 'Libre Baskerville', serif;
}
